{% extends 'base.html.twig' %}

{% block title %}Nouveau sponsor{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-2 mb-2">Créer un nouveau sponsor</h1>
    {{ include('sponsor/_form.html.twig') }}
</div>
{% endblock %}